{% extends "mln_layout.html" %}

{% block title %}Learning{% endblock %}

{% block head %}
    {{ super() }}
    <meta name="viewport" content="user-scalable=yes">
    <link rel="stylesheet" href="{{ url_for('download_static', filename='css/codemirror.css') }}">
    <script type="text/javascript" src="{{ url_for('download_static', filename='script/webmln.js') }}"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{ url_for('download_static', filename='script/codemirror.js') }}"></script>
    <script src="{{ url_for('download_static', filename='script/javascript.js') }}"></script>
{% endblock %}

{% block menu %}
    {{ super() }}
{% endblock %}

{% block _menu_right %}{% endblock %}
{% block menu_right %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
{% endblock %}